target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/google-services.json
!**/src/test/resources/archetype-resources/google-services.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/archetype-resources/google-services.json
!**/src/test/resources/archetype-resources/google-services.json

### VS Code ###
.vscode/

### OS X ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Logs ###
*.log

### Temporary files ###
tmp/
C:\Users\james\.gemini\antigravity\scratch\custody-securities-app\verify_fix.ps1
C:\Users\james\.gemini\antigravity\scratch\custody-securities-app\CustodySecuritiesApp.zip
